{
  "swagger": "2.0",
  "info": {
    "version": "0.0.1",
    "title": "DNSReRoute"
  },
  "host": "dnsreroutedev-dnsreroute.rhcloud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "paths": {
    "/users": {
      "get": {
        "description": "Gets all users.\nNote - this API will only list users in your org.",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "title": "UsersJSON",
              "type": "array",
              "items": {
                "title": "User",
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "userEmail": {
                    "type": "string"
                  },
                  "orgId": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new user.",
        "parameters": [
          {
            "name": "userEmail",
            "in": "query",
            "description": "New user's email address",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "New user's friendly name (not used for logins)",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "ID of the org you want to add the user to (must be your own org ID)",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "title": "UsersJSON",
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }

    },
    "/users/{userEmail}": {
      "get": {
        "description": "Gets a specific user for a given email address.\nNote - this API will only list users in your org.",
        "parameters": [
          {
            "name": "userEmail",
            "in": "path",
            "description": "Email of the user you want to query",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "title": "UserJSON",
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "userEmail": {
                  "type": "string"
                },
                "orgId": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a specific user for a given email address.\nNote - this API will only allow you to update users in your org.",
        "parameters": [
          {
            "name": "userEmail",
            "in": "path",
            "description": "Email of the user you want to query",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Email of the user you want to query",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Email of the user you want to query",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "title": "UserJSON",
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }

    },
    "/users/byOrg/{orgId}": {
      "get": {
        "description": "Gets all users for a given org.\nNote - this API will only list users in your org.",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "ID of the Organization",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "title": "UsersJSON",
              "type": "array",
              "items": {
                "title": "User",
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "userEmail": {
                    "type": "string"
                  },
                  "orgId": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
